.page__container {
  width: 100%;
  height: 100%;
  padding: 0.4em;
  box-sizing: border-box;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  .return__button {
    position: absolute;
    border-radius: 50%;
    z-index: 1000;
    height: 2.5em;
    width: 1em;
    font-size: 1.5rem;
    color: gray;
  }

  .map-container {
    height: 400px;
    overflow: hidden;
    border-radius: 15px;

    #map {
      height: 100%;
      width: 100%;
    }
  }

  .details {
    background: linear-gradient(-45deg, #f1efef, #b3b1b1);
    border: 1px solid #66636366;
    width: 100%;
    height: 70%;
    margin-top: -22px;
    border-radius: 18px;
    z-index: 1000;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__image__container {
      width: 30vw;
      aspect-ratio: 1;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      justify-content: center;
      align-items: center;

      .details__image {
        width: 93%;
        height: 93%;
        border-radius: 50%;
        background-color: white;
      }
    }

    &__name {
      margin-top: 8vh;
      font-size: 2rem;
      font-weight: 600;
    }

    &__trio__duel {
      position: relative;
      width: 60%;
      height: 20%;
      margin-top: 2em;
      display: flex;
      justify-content: center;
      align-items: center;

      border: 4px solid transparent;
      border-radius: 8px;
      padding: 1rem;
      background: linear-gradient(var(--shade-color-1), var(--shade-color-2));

      &::before {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        z-index: 1;
        border-radius: inherit;
        background: repeating-linear-gradient(
          45deg,
          #000,
          #000 10px,
          #ffeb3b 10px,
          #ffeb3b 20px
        );
        -webkit-mask: linear-gradient(#000 0 0) content-box,
          linear-gradient(#000 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        padding: 8px;
        pointer-events: none;
      }

      &__button {
        width: 80%;
        height: 50%;
        color: white;
        font-weight: 600;
        font-size: 1.2rem;
        background-color: #121212c7;
      }
    }

    .under__trioduel {
      margin-top: 4em;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      animation: message-alert 2s ease-in infinite;
    }

    &__slider {
      margin-top: 1em;
      width: 60%;
    }

    footer {
      position: absolute;
      bottom: 2em;
      width: 100%;

      .buttons__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        padding-inline: 2em;
        gap: 2em;

        &__call {
          background-color: black;
          border-radius: 10px;
          height: 5em;
          flex: 1;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.245);

          &__icon {
            color: white;
            width: 100%;
            height: 100%;
            font-size: 1.8rem;
            transform: translate(0.14em, 0.65em);
          }
        }

        &__message {
          background-color: white;
          border-radius: 10px;
          height: 5em;
          flex: 4;

          display: flex;
          justify-content: center;
          align-items: center;

          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.245);

          &__icon {
            width: 20%;
            min-width: 20%;
            height: 100%;
            transform: translateY(0.5em);
            font-size: 2.1rem;
          }

          &__text {
            font-weight: 600;
            font-size: 1.2rem;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.page__container__alert {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: unset;
  animation: border-alert 2s ease-in infinite;
}

@keyframes border-alert {
  0% {
    box-shadow: inset 0 0 50px rgba(255, 0, 0, 1);
  }

  70% {
    box-shadow: inset 0 0 50px rgba(255, 0, 0, 0);
  }
}

@keyframes message-alert {
  0% {
    color: rgba(255, 0, 0, 1);
  }

  70% {
    color: rgb(0, 0, 0);
  }
}
