.page__container {
  background-color: #e5dddd;
  width: 100%;
  height: 100%;
  padding: 0.4em;
  box-sizing: border-box;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  .current__user {
    margin-block: 4vh;
    padding-block: 1vh;
    padding-left: 1em;

    font-size: 1.5rem;
    font-weight: 600;

    user-select: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--user-background-color);
    border: 2px dashed rgba(71, 71, 71, 0.266);

    &__image {
      margin-inline-start: 0.5em;
      border-radius: 50%;
      width: 4em;
      aspect-ratio: 1;
    }
  }

  .users {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    /* Firefox */
    scrollbar-width: none; /* hides scrollbar */
    -ms-overflow-style: none; /* IE 10+ */

    .user__info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1em;
      background-color: var(--user-background-color);
      height: 15vh;
      min-height: 15vh;
      width: 100%;
      border-radius: 15px;
      user-select: none;
      transition: filter 0.3s, box-shadow 0.1s;
      box-shadow: 0px 0px 5px white;

      box-sizing: border-box;
      padding-bottom: 1em;
      cursor: pointer;

      &:hover {
        filter: brightness(0.85);
        box-shadow: 0px 0px 10px black;
        transition: filter 0.3s, box-shadow 0.1s;
      }

      &:not(:first-child) {
        margin-top: -20px;
      }

      .user__image {
        margin-inline-start: 0.5em;
        border-radius: 50%;
        width: 5em;
        aspect-ratio: 1;
      }

      .user__name {
        font-size: 1.05rem;
        font-weight: 500;
      }

      .user__location {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.576), transparent);
        font-size: 0.8rem;
        font-weight: 600;
        border-radius: 40px;
        box-sizing: border-box;
        padding-block: 8px;
        padding-inline-start: 8px;
        padding-inline-end: 12px;

        &__text {
          background: linear-gradient(90deg, #ff7e5f, #feb47b);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

.no__location {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(183, 183, 183) 0%, white 100%);

  display: flex;
  align-items: center;

  user-select: none;

  &__content {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__text {
      font-size: 2rem;
      white-space: nowrap;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.123);
    }

    &__icon {
      transform: scale(4);
      animation: heartBeat 5s infinite;
      border-radius: 50%;
      padding: 2px;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
      background-color: transparent;
    }
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(4);
    color: black;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
  10% {
    transform: scale(5);
    color: red;
    box-shadow: 0 1px 8px rgba(255, 0, 0, 0.789);
  }
  20% {
    transform: scale(4);
    color: black;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
  35% {
    transform: scale(5);
    color: red;
    box-shadow: 0 1px 8px rgba(255, 0, 0, 0.789);
  }
  50% {
    transform: scale(4);
    color: black;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
}
