<div class="page__container" *ngIf="currentUser$ | async as currentUser">
  <header class="current__user">
    <span>Hello {{ currentUser.name }}</span>
    <img [src]="currentUser.image" class="current__user__image" />
  </header>
  <div class="users">
    <div
      *ngFor="let user of allUsers$ | async"
      class="user__info"
      (click)="expnadPersonalDetails(user.id)"
      [ngStyle]="{'--user-background-color': user.backgroundColor}"
    >
      <img [src]="user.image" alt="user image" class="user__image" />
      <div class="user__name">{{ user.name }}</div>
      <div class="user__location">{{ user.location }}</div>
    </div>
  </div>
</div>
