<ng-container *ngIf="hasLocationPremission$ | async; else doesntHaveLocation">
  <ng-container
    *ngIf="hasNotificationsPremission$ | async; else doesntHaveNotifications"
  >
    <div
      class="page__container"
      [ngClass]="{ 'page__container__alert' : isUnderTrioDuel$ | async }"
    >
      <div class="content">
        <div class="current__user">
          <ng-container *ngIf="!(isLoading$ | async)">
            <ng-container *ngIf="currentUser$ | async as currentUser">
              <span
                class="welcome__back"
                [ngClass]="{ 'welcome__back__alert' : isUnderTrioDuel$ | async }"
              >
                {{ (isUnderTrioDuel$ | async) ? 'You are currently under
                invasion' : 'Welcome Back' }}
              </span>
              <div
                class="current__user__details"
                [ngStyle]="{'--user-background-color': currentUser.backgroundColor}"
              >
                <span>{{ currentUser.name }}</span>
                <img
                  [src]="currentUser.image"
                  class="current__user__details__image"
                />
              </div>
              <button
                mat-icon-button
                (click)="navigateToHistory()"
                class="history__button"
              >
                <mat-icon>history_edu</mat-icon>
              </button>
              <p class="current__user__sentence">
                Who's privacy shall be discarded today?
              </p>
            </ng-container>
          </ng-container>
        </div>

        <div class="users" *ngIf="!(isLoading$ | async); else load">
          <div
            *ngFor="let user of allUsers$ | async"
            class="user__info"
            (click)="expnadPersonalDetails(user.id)"
            [ngStyle]="{'--user-background-color': user.backgroundColor}"
          >
            <img [src]="user.image" alt="user image" class="user__image" />
            <div class="user__name">{{ user.name }}</div>
            <div class="user__location">
              <span class="user__location__text">
                {{ getDistance(user.location.latitude, user.location.longtitude)
                | number:'1.0-1'}} KM
              </span>
            </div>
          </div>
        </div>
      </div>

      <ng-template #load>
        <div class="loading">
          <mat-spinner
            diameter="100"
            strokeWidth="5"
            class="loading__spinner"
          ></mat-spinner>
        </div>
      </ng-template>
    </div>
  </ng-container>

  <ng-template #doesntHaveNotifications>
    <div class="no__premissions">
      <div class="no__premissions__content">
        <span class="no__premissions__content__text"
          >לא להיות ביישנים להפעיל התראות :)</span
        >
        <button mat-icon-button (click)="askForNotificationsPremission()">
          <mat-icon class="no__premissions__content__icon">mail</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>
</ng-container>

<ng-template #doesntHaveLocation>
  <div class="no__premissions">
    <div class="no__premissions__content">
      <span class="no__premissions__content__text"
        >מה אתה מסתיר??? תן מיקום</span
      >
      <button mat-icon-button (click)="redirectToEnableLocation()">
        <mat-icon class="no__premissions__content__icon">location_off</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
